$blue-extra-extra-dark: #002847;
$blue-extra-dark: #00355f;
$blue-dark: #00569d;
$blue-dark-b: #2a4d85;
$blue-medium: #0065b8;
$blue-grey: #58738a;
$blue-light: #4c95bf;
$blue-extra-light: lighten(#d1eaff,6%);

$white: #ffffff;

$grey-extra-light: #eaeaea;
$grey-light: #d8d8d8;
$grey-medium: #c7c7c7;
$grey-medium-dark: #6b6b6b;
$grey-dark: #4d5559;

$green: #127362;
$green-light: #1cb170;
$red: #cf3f50;
$orange: #ee7720;

$yellow: #ffcb00;

$facebook: #3b5998;
$twitter: #00b0ed;
$google: #dd4b39;
$sharethis: #07bbad;
$pinterest: #bd081c;
$tumblr: #36465d;
$youtube: #e52d27;
