$blue-extra-extra-dark: #002847;
$blue-extra-dark: #00355f;
$blue-dark: #00569d;
$blue-dark-b: #2a4d85;
$blue-medium: #0065b8;
$blue-grey: #58738a;
$blue-light: #4c95bf;
$white: #ffffff;
$grey-extra-light: #eaeaea;
$grey-light: #d8d8d8;
$grey-medium: #c7c7c7;
$grey-dark: #4d5559;
$green: #127362;