.form{
	.field-wrap{
		position: relative;
		.input-icon{
			position: absolute;
			left: 11px;
			top: 16px;
			color: lighten($grey-dark,10%);
			display: none;
			@media screen and (min-width: 480px){
				display: block;
			}
		}
	}
	input{
		border-radius: 4px;
		border: 1px solid $grey-medium;
		font-family: $sans-stack;
		background: $white;
		font-size: 15px;
		line-height: 15px;
		padding: 15px;
		float: left;
		width: calc(100% - 60px);
		color: $grey-dark;
		@media screen and (min-width: 480px){
			width: calc(100% - 110px);
			font-size: 15px;
			line-height: 15px;
			padding-left: 30px;
		}
	}
	.btn{
		width: 50px;
		height: 50px;
		float: left;
		margin-left: 10px;
		.label{
			display: none;
		}
		@media screen and (min-width: 480px){
			width: 100px;
			.label{
				display: block;
			}
			.icon{
				display: none;
			}	
		}
	}
}