@font-face {
	font-family: 'expedia';
	src:url('fonts/expedia.eot?e5j2td');
	src:url('fonts/expedia.eot?#iefixe5j2td') format('embedded-opentype'),
		url('fonts/expedia.ttf?e5j2td') format('truetype'),
		url('fonts/expedia.woff?e5j2td') format('woff'),
		url('fonts/expedia.svg?e5j2td#expedia') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	@extend %icon-style;
}

.icon-beach:before {
	content: "\e61c";
}
.icon-building:before {
	content: "\e61d";
}
.icon-tower:before {
	content: "\e61e";
}
.icon-education:before {
	content: "\e61f";
}
.icon-seasons:before {
	content: "\e620";
}
.icon-top5:before {
	content: "\e621";
}
.icon-payment:before {
	content: "\e612";
}
.icon-bicycle:before {
	content: "\e613";
}
.icon-family:before {
	content: "\e614";
}
.icon-tram:before {
	content: "\e615";
}
.icon-quotes:before {
	content: "\e616";
}
.icon-passport:before {
	content: "\e617";
}
.icon-ski:before {
	content: "\e618";
}
.icon-history:before {
	content: "\e619";
}
.icon-book:before {
	content: "\e61a";
}
.icon-walk:before {
	content: "\e61b";
}
.icon-film:before {
	content: "\e60d";
}
.icon-music:before {
	content: "\e60e";
}
.icon-ribbon:before {
	content: "\e60f";
}
.icon-office:before {
	content: "\e601";
}
.icon-eat:before {
	content: "\e610";
}
.icon-airplane:before {
	content: "\e602";
}
.icon-earth:before {
	content: "\e603";
}
.icon-star-empty:before {
	content: "\e608";
}
.icon-star-half:before {
	content: "\e609";
}
.icon-star-full:before {
	content: "\e60a";
}
.icon-share:before {
	content: "\e607";
}
.icon-google-plus:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-youtube:before {
	content: "\e622";
}
.icon-youtube3:before {
	content: "\e623";
}
.icon-search:before {
	content: "\f002";
}
.icon-heart:before {
	content: "\f004";
}
.icon-flag:before {
	content: "\f024";
}
.icon-comments:before {
	content: "\f086";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-mars-double:before {
	content: "\f227";
}
.icon-calendar:before {
	content: "\e60b";
}
.icon-location-pin:before {
	content: "\e60c";
}
.icon-suitcase:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e611";
}
.icon-pinterest:before {
	content: "\e624";
}
.icon-tumblr:before {
	content: "\e625";
}
.icon-vimeo:before {
	content: "\e626";
}