$sans-stack: 'Source Sans Pro', sans-serif;

h1{
	font-family: $sans-stack;
	font-size: 25px;
	line-height: 25px;
	font-weight: 600;
	@media screen and (min-width: $main-nav-min){
		font-size: 45px;
		line-height: 45px;
	}
}

h2{
	font-family: $sans-stack;
	font-size: 21px;
	line-height: 21px;
	font-weight: 600;
	@media screen and (min-width: $main-nav-min){
		font-size: 32px;
		line-height: 32px;
	}
}

h4{
	font-family: $sans-stack;
	font-size: 19px;
	line-height: 19px;
	font-weight: 600;
	&.module-title{
		margin-bottom: 20px;
		color: $blue-grey;
	}
}