@import 'reset';
@import 'colours';
@import 'queries';
@import 'expedia';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'icons';

body{
	font-family: $sans-stack;
	font-size: 16px;
	line-height: 24px;
	background: $grey-extra-light;
}

.inner{
	max-width: $inner-width;
	margin: 0 auto;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.separator{
	border: 0;
	width: 100%;
	height: 1px;
	background: $grey-medium;
	margin-bottom: 30px;
}

/* global */

.main-header{
	background: $blue-extra-dark;
	position: relative;
	z-index: 100;
	@media screen and (max-width: $main-nav-max){
		text-align: center;	
	}
	.top-nav{
		@media screen and (min-width: $main-nav-min){
			float: left;	
		}
		li{
			display: inline-block;
			@media screen and (max-width: $main-nav-max){
				float: left;
			}
			a{
				font-size: 16px;
				line-height: 16px;
				padding: 15px;
				transition: color .2s ease, background .2s ease;
			}
			&.home-link{
				@media screen and (max-width: $main-nav-max){
					width: 65%;
					border-bottom: 1px solid transparent;
					.show-main-nav &{
						border-bottom: 1px solid darken($blue-medium, 10%);
					}
				}
				.icon{
					position: relative;
					padding-right: 8px;
					top: 1px;
					transition: background .2s ease;
				}
				border-right: 1px solid darken($blue-medium, 10%);
				a{
					font-weight: 600;
					font-size: 18px;
					line-height: 18px;
					padding: 13px 25px 15px 25px;
				}
				&:hover{
					.desktop &{
						a{
							background: $blue-extra-extra-dark;
							.icon{
								color: $yellow;
							}
						}
					}
				}
			}
			&.menu-link{
				border-bottom: 1px solid transparent;
				width: 35%;
				@media screen and (min-width: $main-nav-min){
					display: none;
				}
				@media screen and (max-width: $main-nav-max){
					.show-main-nav &{
						border-bottom: 1px solid $blue-extra-extra-dark;
						a{
							background: $blue-extra-extra-dark;
						}
					}
				}
			}
		}
	}
	.main-nav{
		float: left;
		@media screen and (max-width: $main-nav-max){
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			display: none;
			background: $blue-extra-extra-dark;
			padding: 10px 0px;
			border-bottom: 1px solid darken($blue-medium, 10%);
			.show-main-nav &{
				display: block;	
			}
		}
		li{
			display: block;
			text-align: center;
			
			@media screen and (min-width: $main-nav-min){
				display: inline-block;
				text-align: left;
				border-right: 1px solid darken($blue-medium, 10%);
				float: left;
			}
			a{
				font-size: 14px;
				line-height: 14px;
				padding: 15px;
				transition: background .2s ease;
				.count{
					display: inline-block;
					border-radius: 4px;
					background: $blue-medium;
					padding: 2px 3px 3px 3px;
					text-align: center;
					margin-left: 5px;
					transition: background .2s ease;
				}
			}
			&:hover{
				.desktop &{
					a{
						background: lighten($blue-extra-dark,5%);
						.count{
							background: lighten($blue-medium, 10%);
						}
					}
				}
				
			}
		}	
	}
	a{
		color: $white;
		display: inline-block;
		@media screen and (max-width: $main-nav-max){
			display: block;
		}
	}
}


%overlay{
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 1;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
}

%bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 105%;
	height: 105%;
	background-color: $blue-dark-b;
	background-repeat: none;
	background-position: 50% 50%;
	background-size: cover;
	z-index: 1;
	transform: translateY(0);
	transition: transform .2s ease;
}

%underlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba($blue-extra-extra-dark,0);
	transition: background .2s ease;
}

%item-inner{
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
	padding-top: 56.25%;
	background-clip: padding-box;
	backface-visibility: hidden;
	transform: translateZ(0);
}

%caption{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: $white;
	font-size: 12px;
	line-height: 12px;
}

.sidebar{
	width: 100%;
	@media screen and (min-width: $main-nav-min){
		width: 30%;
		float: left;
	}
	@media screen and (min-width: 980px){
		width: 20%;
	}
	
	padding: 30px 25px;
	font-size: 15px;
	line-height: 26px;
	.icon{
		color: $blue-dark;
		font-size: 20px;
		line-height: 20px;
	}
	h3{
		color: $blue-extra-dark;
		font-weight: 700;
	}
	a{
		color: $blue-medium;
	}
	li{
		position: relative;
	}
	.has-children{
		&:before{
			content: "+";
			position: absolute;
			color: $blue-medium;
			left: -10px;
			top: 0px;
		}
		.children{
			padding-left: 15px;
			.side-ready &{
				display: none;
			}
			&.show-children{
				display: block;
			}
		}
	}
	.side-nav{
		.dock-side &{
			@media screen and (min-width: $main-nav-min){
				position: fixed;
				top: 78px;
				left: 25px;
			}
			@media screen and (min-width: $inner-width){
				left: 50%;
				margin-left: -(($inner-width/2) - 25);	
			}
		}
	}
	
}

.main-content{
	width: 100%;
	padding: 0px;
	@media screen and (min-width: $main-nav-min){
		width: 70%;
		float: left;
		padding: 30px 25px 30px 0px;
	}
	@media screen and (min-width: 980px){
		width: 80%;
		.intro-text{
			max-width: 75%;
		}
	}
	h1{
		font-size: 23px;
		line-height: 30px;
	}
}

/* modules */

.search-module{
	padding: 25px 10px;
	background: $blue-extra-dark;
	@media screen and (min-width: 480px){
		text-align: center;
		padding: 35px 10px;
		.search-inner{
			max-width: 480px;
			margin: 0 auto;
		}
	}
	h3{
		color: $white;
		font-size: 21px;
		line-height: 21px;
		margin-bottom: 15px;
		font-weight: 600;
		display: block;
		@media screen and (min-width: 480px){
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 25px;
		}
	}
}



.hero-module{
	width: 100%;
	position: relative;
	height: 190px;
	@media screen and (min-width: $main-nav-min){
		height: 260px;
	}
	.bg{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		background-color: $blue-extra-extra-dark;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.4) 100%);
		mix-blend-mode: multiply;
	}
	.text-wrap{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		color: $white;
		.text-inner{
			max-width: 550px;
			margin: 0 auto;
			padding: 65px 10px;
			&.has-search{
				padding: 30px 10px;
			}
			@media screen and (min-width: $main-nav-min){
				text-align: center;
				padding: 90px 20px;
				&.has-search{
					padding: 50px 20px;
				}
			}
			h2{
				margin-bottom: 10px;
			}
		}
	}
	.image-caption{
		@extend %caption;
		@media screen and (min-width: $main-nav-min){
			bottom: auto;
			left: auto;
			top: 10px;
			right: 10px;
		}
	}
	.breadcrumbs-primary{
		margin-bottom: 10px;
		li{
			color: $white;
			font-size: 15px;
			line-height: 15px;
			display: inline-block;
			padding-left: 20px;
			position: relative;
			&:before{
				content: "•";
				position: absolute;
				left: 6px;
				top: 0px;
				display: block;
			}
			&:first-of-type{
				&:before{
					display: none;
				}
				padding-left: 0;
			}
		}
		a{
			font-size: 15px;
			line-height: 15px;
			text-transform: uppercase;
			color: $white;
			font-weight: 600;
		}
	}
}


.breadcrumbs-secondary{
	line-height: 13px;
	li{
		color: $grey-dark;
		font-size: 13px;
		line-height: 13px;
		display: inline-block;
		padding-left: 10px;
		position: relative;
		&:before{
			content: "•";
			position: absolute;
			left: 1px;
			top: 0px;
			display: block;
		}
		&:first-of-type{
			&:before{
				display: none;
			}
			padding-left: 0;
		}
		a{
			font-size: 13px;
			line-height: 13px;
			color: $grey-dark;
		}
	}
}


.booking-module{
	background: $grey-light;
	padding: 20px 5px;
	@media screen and (min-width: $main-nav-min){
		padding: 30px 25px;
	}
	.items{
		margin: 0px;
		@media screen and (min-width: $main-nav-min){
			margin: 0px -10px;
		}
	}
	.item{
		display: block;
		float: left;
		width: 50%;
		padding: 5px;
		@media screen and (min-width: $main-nav-min){
			width: 25%;	
			padding: 10px;
		}
		.item-wrap{
			width: 100%;
			display: block;
			text-align: center;
			border-radius: 4px;
			padding: 20px;
			background: $blue-light;
			transition: background .2s ease;
			.icon{
				color: $white;
				opacity: 0.6;
				display: block;
				text-align: center;
				font-size: 32px;
				line-height: 32px;
				padding-bottom: 5px;
				transform: translateY(0);
				transition: transform .2s ease;
			}
			.label{
				font-size: 15px;
				line-height: 15px;
				color: $white;
			}
			&.grey{
				background: $grey-dark;
			}
			&.green{
				background: $green;
			}
			&.dark-blue{
				background: $blue-dark-b;
			}
			&.light-blue{
				background: $blue-light;
			}
		}
		&:hover{
			.desktop &{
				.icon{
					transform: translateY(-3px);
				}
				.grey{
					background: lighten($grey-dark, 5%);
				}
				.green{
					background: lighten($green, 5%);
				}
				.dark-blue{
					background: lighten($blue-dark-b, 5%);
				}
				.light-blue{
					background: lighten($blue-light, 5%);
				}
			}
		}
	}
}

.booking-bar{
	background: $blue-medium;
	position: relative;
	z-index: 50;
	backface-visibility: hidden;
	ul{
		display: table;
		width: 100%;
	}
	li{
		display: table-cell;
		text-align: center;
		width: 20%;
		color: $white;
		border-right: 1px solid darken($blue-medium, 5%);
		font-size: 14px;
		line-height: 14px;
		transition: background .2s ease;
		&.title{
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			background: darken($blue-medium, 5%);
			display: none;
			cursor: default;
			@media screen and (min-width: $main-nav-min){
				display: table-cell;	
			}
		}
		a{
			color: $white;
			padding: 16px;
			display: block;
		}
		.icon{
			font-size: 20px;
			line-height: 20px;
			@media screen and (min-width: $main-nav-min){
				font-size: 15px;
				line-height: 15px;
				padding-right: 8px;
			}
		}
		.label{
			@media screen and (max-width: $main-nav-max){
				display: none;
			}
		}
		&:hover:not(.title){
			.desktop &{
				background: lighten($blue-medium,5%);
			}
		}
		&.active{
			background: $blue-extra-dark;
			&:hover{
				.desktop &{
					background: $blue-extra-dark;
				}
			}
		}
	}
	.dock-bar &{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.booking-form-wrap{
		background: $white;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		box-shadow: 0px 0px 3px 0px rgba($blue-extra-extra-dark,0.4);
		overflow: auto;
		h3{
			font-size: 19px;
			line-height: 19px;
			margin-bottom: 20px;
			color: $blue-extra-dark;
			font-weight: 600;
		}
		.booking-form{
			max-width: 760px;
			margin: 0 auto;
			padding: 40px 20px;
			position: relative;
			.form{
				display: none;
				&.active{
					display: block;
				}
			}
		}
		&.active{
			display: block;
		}
		.close-btn{
			position: absolute;
			top: 40px;
			right: 20px;
			color: $blue-medium;
		}
	}
}

.sitemap-module{
	@media screen and (min-width: $main-nav-min){
		padding: 40px 25px;
	}
	.module-title{
		&:after{
			content: "\f107";
			@extend %icon-style;
			position: absolute;
			top: 13px;
			right: 15px;
			color: $blue-medium;
			font-size: 26px;
			display: none;
		}
		@media screen and (max-width: $main-nav-max){
			font-size: 14px;
			line-height: 14px;
			background: $white;
			border-bottom: 1px solid $grey-medium;
			display: block;
			color: $blue-medium;
			margin-bottom: 0;
			padding: 20px 10px;
			font-weight: 400;
			cursor: pointer;
			position: relative;
			&:after{
				display: block;
			}
		}
		&:hover{
			.desktop &{
				color: $blue-extra-dark;
			}
		}
	}
	.list-section{
		@media screen and (min-width: $main-nav-min){
			&:not(:last-of-type){
				margin-bottom: 40px;
			}
		}
	}
	ul{
		display: none;
		@media screen and (min-width: $main-nav-min){
			columns: 4;
			column-gap: 20px;
			display: block;
		}
		li{
			display: block;
			@media screen and (min-width: $main-nav-min){
				display: inline-block;
				width: 100%;
			}
		}
	}
	.show{
		@media screen and (max-width: $main-nav-max){
			ul{
				display: block;
				background: darken($white,2%);
				padding: 10px;
				li{
					padding: 5px 0px;
				}
			}
			.module-title{
				&:after{
					content: "\f106";
					top: 11px;
				}
			}
		}
	}
	a{
		color: $blue-medium;
		transition: color .2s ease;
		&:hover{
			.desktop &{
				color: $blue-extra-dark;
			}
		}
	}
}

.socials-module{
	.socials-list{
		padding-bottom: 10px;
		@media screen and (min-width: $main-nav-min){
			&.float{
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: 3;
			}
		}
		a{
			display: block;
			width: 30px;
			height: 30px;
			background: $blue-extra-dark;
			border-radius: 50%;
			float: left;
			margin-right: 10px;
			color: $white;
			text-align: center;
			position: relative;
			&:last-of-type{
				margin-right: 0;
			}
			.icon{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
			}
			@media screen and (min-width: $main-nav-min){
				width: 25px;
				height: 25px;
				.icon{
					font-size: 14px;	
				}	
			}
		}
		.social-facebook{
			background: $facebook;
		}
		.social-twitter{
			background: $twitter;
		}
		.social-google{
			background: $google;
		}
		.social-sharethis{
			background: $sharethis;
		}
	}
}

@import 'plugins/owl.carousel';

.carousel-module{
	background: $grey-light;
	padding: 20px 0px;
	@media screen and (min-width: $main-nav-min){
		padding: 40px 25px;
	}
	.page-content &{
		background: transparent;
		padding: 0;
	}
	.owl-carousel{
		padding-bottom: 10px;
	}
	
	@media screen and (max-width: 479px){
		.module-title{
			padding-left: 10px;
		}
	}
	
}

.box-item{
	background: $white;
	border-radius: 4px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
	backface-visibility: hidden;
	transform: rotate(0);
	overflow: hidden;
	margin-bottom: 10px;
	display: block;
	transition: background .2s ease;
	.box-text-header{
		padding: 20px 15px 10px 15px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		overflow: hidden;
		h4{
			font-size: 19px;
			line-height: 19px;
			color: $blue-grey;
		}
	}
	.box-header{
		width: 100%;
		position: relative;
		padding-top: 56.25%;
		backface-visibility: hidden;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		overflow: hidden;
		transform: translateZ(0);
		.bg{
			@extend %bg;
			backface-visibility: hidden;
		}
		.overlay{
			@extend %overlay;
			backface-visibility: hidden;
		}
		.underlay{
			@extend %underlay;
		}
		h4{
			position: absolute;
			bottom: 10px;
			left: 20px;
			color: $white;
			z-index: 3;
			font-size: 16px;
			line-height: 20px;
			backface-visibility: hidden;
			transition: transform .2s ease;
			font-weight: 600;
		}
	}
	.box-body{
		padding: 20px;
		color: $grey-medium-dark;
		font-size: 13px;
		line-height: 20px;
		.box-image{
			float: left;
			width: 20%;
			padding: 10px;
			.box-circle{
				border-radius: 50%;
				padding-top: 100%;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				width: 100%;
				padding-top: 100%;
			}
		}
		.box-text{
			float: left;
			width: 80%;
			padding-left: 20px;
		}
		&.no-footer{
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&.no-header{
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
		}
		transition: background .2s ease;
		&.large-type{
			font-size: 16px;
			line-height: 24px;
		}
		.sell-header{
			margin-bottom: 10px;
			min-height: 50px;
			h3{
				float: left;
				width: 70%;
				font-size: 15px;
				line-height: 18px;
			}
			.sell-price{
				float: right;
				width: 30%;
				font-size: 26px;
				line-height: 26px;
				text-align: right;
				color: $blue-extra-extra-dark;
				.currency{
					font-size: 19px;
					line-height: 19px;
					position: relative;
					top: -2px;
					padding-right: 5px;
				}
			}
		}
		.rating{
			.star:before{
				display: none;
				color: $blue-extra-extra-dark;
				font-size: 12px;
				line-height: 12px;
				content: "\e60a";
				@extend %icon-style;
			}
			&.rating-1{
				.star-1:before{
					display: inline-block;
				}
				&.half{
					.star-2:before{
						display: inline-block;
						content: "\e609";
					}
				}
			}
			&.rating-2{
				.star-1:before, .star-2:before{
					display: inline-block;
				}
				&.half{
					.star-3:before{
						display: inline-block;
						content: "\e609";
					}
				}
			}
			&.rating-3{
				.star-1:before, .star-2:before, .star-3:before{
					display: inline-block;
				}
				&.half{
					.star-4:before{
						display: inline-block;
						content: "\e609";
					}
				}
			}
			&.rating-4{
				.star-1:before, .star-2:before, .star-3:before, .star-4:before{
					display: inline-block;
				}
				&.half{
					.star-5:before{
						display: inline-block;
						content: "\e609";
					}
				}
			}
			&.rating-5{
				.star-1:before, .star-2:before, .star-3:before, .star-4:before, .star-5:before{
					display: inline-block;
				}
			}
		}
		h3{
			color: $blue-medium;
			font-size: 17px;
			line-height: 20px;
			margin-bottom: 10px;
			font-weight: 600;
		}
		p{
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		strong{
			color: $blue-medium;
		}
	}
	.box-footer{
		border-top: 1px solid $grey-medium;
		font-size: 14px;
		line-height: 14px;
		padding: 12px 20px;
		transition: background .2s ease;
		a{
			display: block;
		}
		&:hover{
			.desktop &{
				background: $blue-extra-light;
			}
		}
	}
	&:hover:not(.no-hover){
		.desktop &{
			background: $blue-extra-light;
			.box-header{
				h4{
					transform: translateY(-5px);
				}
				.bg{
					transform: translateY(-5px);
				}
				.underlay{
					background: rgba($blue-extra-extra-dark,0.4);
				}
			}
		}
	}
}

.contributors-grid{
	.item-wrap{
		float: left;
		width: 33.33%;
		padding: 10px;
		.box-item{
			margin-bottom: 0;
		}
		.box-header{
			padding-top: 100%;
		}
	}
}

.author-intro{
	position: relative;
	border-radius: 4px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
	background: $white;
	padding: 20px;
	margin-bottom: 30px;
	.author-image{
		width: 30%;
		float: left;
		.author-image-inner{
			width: 100%;
			padding-top: 100%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 0;
			border-radius: 4px;
			background-clip: padding-box;
			overflow: hidden;
		}
	}
	.author-bio{
		width: 70%;
		float: left;
		padding-left: 20px;
	}
}

.inspiration-module{
	padding: 40px 25px;
}

figure{
	position: relative;
	width: 100%;
	img{
		display: block;
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	figcaption{
		@extend %caption;
		z-index: 5;
		backface-visibility: hidden;
	}
	&:before{
		content:"";
		@extend %overlay;
		height: 30%;
	}
}

@import 'plugins/flexslider';

.gallery-module{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
	.image-gallery{
		background: $grey-medium;
		figure{
			display: block;
		}
	}
	.image-gallery-thumbs{
		position: relative;
		.slides{
			li{
				height: 90px;
				position: relative;
				background: $blue-extra-extra-dark;
				&:after{
					content:"";
					width: 100%;
					height: 0;
					background: $yellow;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: height .2s ease;
					z-index: 2;
				}
				.thumb{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: cover;
					z-index: 1;
					opacity: 0.5;
					transition: opacity .2s ease;
					backface-visibility: hidden;
				}
				&.flex-active-slide{
					.thumb{
						opacity: 1;
					}
					&:after{
						height: 5px;
					}
				}
				&:hover{
					.desktop &{
						.thumb{
							opacity: 1;
						}
					}
				}
			}
		}
		.flex-direction-nav{
			a{
				position: absolute;
				background: $white;
				color: $blue-medium;
				top: 50%;
				margin-top: -20px;
				padding: 5px 10px;
				font-size: 25px;
				line-height: 25px;
				display: block;
			}
			.flex-prev{
				left: 0;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			.flex-next{
				right: 0;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			.flex-disabled{
				display: none;
			}
		}
	}
	
}

/* content */

.entry-content{
	color: $grey-dark;
	h1, h2, h3, h4, h5, h6{
		color: $blue-extra-extra-dark;
		font-weight: 600;
	}
	h1{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 24px;
	}
	h2{
		font-size: 21px;
		line-height: 21px;
		margin-bottom: 24px;
	}
	h3{
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 24px;
	}
	p{
		margin-bottom: 24px;
	}
	a{
		color: $blue-medium;
	}
	blockquote{
		font-size: 19px;
		line-height: 26px;
		margin-bottom: 24px;
	}
	hr{
		@extend .separator;
	}
	figure{
		margin-bottom: 24px;
	}
	.footnote{
		font-style: italic;
		background: lighten($grey-light,2%);
		padding: 15px;
		font-size: 15px;
		line-height: 18px;
		display: block;
	}
}

.columns{
	@media screen and (min-width: $columns){
		columns: 2;
		column-gap: 40px;
		p{
			display: inline-block;
		}
		h1, h2, h3, h4, h5{
        	column-span: all; 
		}
		.footnote{
			column-span: all;
		}
	}
}

.box-columns{
	/*
	margin: 0px -10px;
	.box-item-wrap{
		float: left;
		width: 50%;
		padding: 10px;
	}
	*/
	@media screen and (min-width: $columns){
		columns: 2;
		column-gap: 20px;
		.box-item-wrap{
			display: inline-block;
			width: 100%;
		}
	}
}

.grid{
	position: relative;
	.inner{
		position: relative;
	}
	.items{
		margin: 0px -5px;
		@media screen and (min-width: $main-nav-min){
			background: $white;
			border-radius: 4px;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
			transform: translateZ(0);
			border-top: 1px solid $grey-medium;
			margin: -1px 0px 0px 0px;
			padding: 10px;
		}
		.content-item{
			width: 100%;
			padding: 10px;
			clear: both;
			background: $white;
			@media screen and (max-width: 699px){
				border-radius: 4px;
				box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
			}
			@media screen and (min-width: 700px){
				width: 50%;
				float: left;
				clear: none;
			}
			@media screen and (min-width: 980px){
				width: 33.333%;
				padding: 20px 10px 10px 10px;
			}
			
		}
		.item{
			width: 100%;
			padding: 5px;
			position: relative;
			transform: translateZ(0);
			@media screen and (min-width: 980px){
				padding: 10px;
			}
			.item-inner{
				@extend %item-inner;
			}
			&.standard{
				&.split{
					width: 50%;
					float: left;
					@media screen and (min-width: 980px){
						width: 33.333%;
					}
				}
				@media screen and (min-width: 700px){
					width: 50%;
					float: left;
				}
				@media screen and (min-width: 980px){
					width: 33.333%;
				}
				
			}
			&.thin{
				@media screen and (min-width: 700px){
					width: 50%;
					float: left;
					.item-inner{
						padding-top: 56.25%;	
					}
				}
				@media screen and (min-width: 980px){
					width: 30%;
					.item-inner{
						padding-top: 67.5%;	
					}
				}
			}
			&.wide{
				@media screen and (min-width: 700px){
					width: 50%;
					float: left;
					.item-inner{
						padding-top: 56.25%;	
					}
				}
				@media screen and (min-width: 980px){
					width: 40%;
					.item-inner{
						padding-top: 50%;	
					}
				}
			}
			&.extra-wide{
				@media screen and (min-width: 700px){
					width: 50%;
					float: left;
					.item-inner{
						padding-top: 56.25%;	
					}
				}
				@media screen and (min-width: 980px){
					width: 50%;
					.item-inner{
						padding-top: 39.5%;	
					}
				}
			}
			.bg{
				@extend %bg;
				backface-visibility: hidden;
			}
			.overlay{
				@extend %overlay;
				backface-visibility: hidden;
			}
			.underlay{
				@extend %underlay;
			}
			.text-wrap{
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 3;
				color: $white;
				padding: 30px 20px 20px 20px;
				transform: translateY(0);
				transition: transform .2s ease;
				.category{
					position: absolute;
					top: 0;
					left: 20px;
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					border-radius: 4px;
					padding: 3px 5px;
					background: $blue-medium;
					text-transform: capitalize;
					&.category-destination{
						background: $green-light;
					}
					&.category-guide{
						background: $red;
					}
					&.category-top-5{
						background: $orange;
					}
				}
				strong{
					font-size: 21px;
					line-height: 24px;
					font-weight: 600;
				}
			}
			
			&.text-only{
				.underlay{
					background: rgba(darken($blue-extra-extra-dark,5%),0.9);
				}
				.text-wrap{
					top: 0;
					bottom: auto;
					font-weight: 600;
				}
			}
			
			&:hover:not(.text-only){
				.desktop &{
					.text-wrap{
						transform: translateY(-5px);
					}
					.underlay{
						background: rgba($blue-extra-extra-dark,0.4);
					}
					.bg{
						transform: translateY(-5px);
					}
				}
			}
			
		}
	}
	&.country-grid{
		padding: 30px 25px;
		@media screen and (max-width: 699px){
			.items{
				display: flex;
				flex-flow: row wrap;
				align-content: flex-start;
				.item{
					order: 0;
					flex: 0 0 50%;
					align-self: flex-start;
					.item-inner{
						padding-top: 75%;
					}
				} 
				.content-item{
					order: 99;
					flex: 0 0 100%;
				}
			}
		}
	}
	&.home-grid{
		padding: 30px 25px;
	}
	&.destination-grid{
		padding: 30px 0px;
	}
}

.gallery-items{
	margin: 0px -10px;
	.gallery-item{
		display: block;
		float: left;
		width: 16.66%;
		padding: 10px;
		.item-inner{
			@extend %item-inner;
			padding-top: 100%;
			.bg{
				@extend %bg;
			}
			.underlay{
				@extend %underlay;
			}
		}
		&:hover{
			.desktop &{
				.underlay{
					background: rgba($blue-extra-extra-dark,0.4);
				}
				.bg{
					transform: translateY(-5px);
				}
			}
		}
	}
}

.tab-nav{
	position: relative;
	z-index: 2;
	.current-btn{
		background: $blue-extra-dark;
		border-radius: 4px;
		color: $white;
		cursor: pointer;
		font-size: 18px;
		line-height: 18px;
		font-weight: 600;
		padding: 13px 15px;
		margin-bottom: 5px;
		position: relative;
		@media screen and (min-width: $main-nav-min){
			display: none;	
		}
		&:after{
			content: "\f107";
			@extend %icon-style;
			position: absolute;
			top: 9px;
			right: 15px;
			color: $white;
			font-size: 26px;
		}
	}
	ul{
		display: none;
		@media screen and (min-width: $main-nav-min){
			display: block;
		}
	}
	&.show{
		@media screen and (max-width: $main-nav-max){
			ul{
				display: block;
				width: 100%;
				margin-top: -5px;
				margin-bottom: 5px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				overflow: hidden;
				box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
			}
		}
		.current-btn{
			&:after{
				content: "\f106";
				top: 7px;
			}
		}
	}
	li{
		display: block;
		background: $white;
		@media screen and (min-width: $main-nav-min){
			display: inline-block;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border: 1px solid $grey-medium;
			overflow: hidden;
			transition: background .2s ease;
			float: left;
			margin-right: 4px;
		}
		a{
			padding: 10px 20px;
			font-size: 18px;
			line-height: 20px;
			color: $blue-medium;
			font-weight: 600;
			display: block;
			transition: color .2s ease;
		}
		&.active{
			a{
				color: $blue-extra-dark;
			}
			@media screen and (min-width: $main-nav-min){
				background: $blue-extra-dark;
				border-color: $blue-extra-dark;
				a{
					color: $white;
				}
			}
		}
		&:hover{
			@media screen and (min-width: $main-nav-min){
				.desktop &{
					background: darken($white,5%);
					a{
						color: $blue-dark;
					}
					&.active{
						background: darken($blue-extra-dark,5%);
						a{
							color: $white;
						}
					}
				}
			}
		}
	}
}

.content-header{
	position: relative;
	padding: 0px 0px 25px 0px;
}

.top-5-item{
	.top-5-image{
		float: left;
		width: 50%;
		figure{
			width: 100%;
			padding-top: 75%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 0;
			background-clip: padding-box;
			overflow: hidden;
		}
		
	}
	.top-5-content{
		float: left;
		width: 50%;
		padding-left: 20px;
		.top-5-number{
			background: $blue-dark;
			width: 30px;
			height: 30px;
			border-radius: 50% 50% 50% 0%;
			transform: rotate(-45deg);
		}
	}
}