@charset "UTF-8";
/*lkc-reset - v1.3 - 07/05/2015 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

[hidden], template {
  display: none;
}

ol, ul {
  list-style: none;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
}

textarea {
  resize: vertical;
  overflow: auto;
}

textarea, input[type=text], input[type=submit], input[type=password], input[type=email], input[type=tel], input[type=url], input[type=datetime], input[type=date], input[type=search] {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  outline: none;
  -moz-outline: none;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* external header and footer overrides */
#global-header .site-header {
  width: 100%;
}
#global-header .site-header .site-navigation.all-in {
  width: 100%;
}

#global-footer {
  background: #ffffff;
}
#global-footer #footer {
  padding: 20px;
  width: 100% !important;
}
#global-footer #footer .footer-links, #global-footer #footer .footer-separator, #global-footer #footer #footer-corporate-links .footer-list {
  width: 100%;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}
@media screen and (min-width: 760px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
}
@media screen and (min-width: 760px) {
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  line-height: 19px;
  font-weight: 600;
}
h4.module-title {
  margin-bottom: 20px;
  color: #58738a;
}

.btn {
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
.btn.btn-primary {
  background: -webkit-linear-gradient(bottom, #ffbe00 0%, #ffcb00 100%);
  background: linear-gradient(bottom, #ffbe00 0%, #ffcb00 100%);
  border-color: #d4a900 #aa8700 #aa8700;
  color: #3d3100;
}

.form .field-wrap {
  position: relative;
}
.form .field-wrap .input-icon {
  position: absolute;
  left: 11px;
  top: 16px;
  color: #656f74;
  display: none;
}
@media screen and (min-width: 480px) {
  .form .field-wrap .input-icon {
    display: block;
  }
}
.form input {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  font-family: "Source Sans Pro", sans-serif;
  background: #ffffff;
  font-size: 15px;
  line-height: 15px;
  padding: 15px;
  float: left;
  width: calc(100% - 60px);
  color: #4d5559;
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
}
@media screen and (min-width: 480px) {
  .form input {
    width: calc(100% - 110px);
    font-size: 15px;
    line-height: 15px;
    padding-left: 30px;
  }
}
.desktop .form input:focus {
  box-shadow: 0px 0px 15px 0px rgba(0, 40, 71, 0.6);
}
.form .btn {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 10px;
}
.form .btn .label {
  display: none;
}
@media screen and (min-width: 480px) {
  .form .btn {
    width: 100px;
  }
  .form .btn .label {
    display: block;
  }
  .form .btn .icon {
    display: none;
  }
}

@font-face {
  font-family: 'expedia';
  src: url("fonts/expedia.eot?-iv7jrv");
  src: url("fonts/expedia.eot?#iefix-iv7jrv") format("embedded-opentype"), url("fonts/expedia.ttf?-iv7jrv") format("truetype"), url("fonts/expedia.woff?-iv7jrv") format("woff"), url("fonts/expedia.svg?-iv7jrv#expedia") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], .sitemap-module .module-title:after, .tab-nav .current-btn:after {
  font-family: 'expedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-double-up:before {
  content: "\f102";
}

.icon-angle-double-down:before {
  content: "\f103";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-automobile:before {
  content: "\f1b9";
}

.icon-suitcase:before {
  content: "\e600";
}

.icon-office:before {
  content: "\e601";
}

.icon-airplane:before {
  content: "\e602";
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.icon-earth:before {
  content: "\e603";
}

.icon-share2:before {
  content: "\e607";
}

.icon-google-plus:before {
  content: "\e604";
}

.icon-facebook:before {
  content: "\e605";
}

.icon-twitter:before {
  content: "\e606";
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #eaeaea;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.separator {
  border: 0;
  width: 100%;
  height: 1px;
  background: #c7c7c7;
  margin-bottom: 30px;
}

/* global */
.main-header {
  background: #00355f;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 759px) {
  .main-header {
    text-align: center;
  }
}
@media screen and (min-width: 760px) {
  .main-header .top-nav {
    float: left;
  }
}
.main-header .top-nav li {
  display: inline-block;
}
@media screen and (max-width: 759px) {
  .main-header .top-nav li {
    float: left;
  }
}
.main-header .top-nav li a {
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  -webkit-transition: color .2s ease, background .2s ease;
          transition: color .2s ease, background .2s ease;
}
.main-header .top-nav li.home-link {
  border-right: 1px solid #004985;
}
@media screen and (max-width: 759px) {
  .main-header .top-nav li.home-link {
    width: 65%;
    border-bottom: 1px solid transparent;
  }
  .show-main-nav .main-header .top-nav li.home-link {
    border-bottom: 1px solid #004985;
  }
}
.main-header .top-nav li.home-link .icon {
  position: relative;
  padding-right: 8px;
  top: 1px;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.main-header .top-nav li.home-link a {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  padding: 13px 25px 15px 25px;
}
.desktop .main-header .top-nav li.home-link:hover a {
  background: #002847;
}
.desktop .main-header .top-nav li.home-link:hover a .icon {
  color: #ffcb00;
}
.main-header .top-nav li.menu-link {
  border-bottom: 1px solid transparent;
  width: 35%;
}
@media screen and (min-width: 760px) {
  .main-header .top-nav li.menu-link {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  .show-main-nav .main-header .top-nav li.menu-link {
    border-bottom: 1px solid #002847;
  }
  .show-main-nav .main-header .top-nav li.menu-link a {
    background: #002847;
  }
}
.main-header .main-nav {
  float: left;
}
@media screen and (max-width: 759px) {
  .main-header .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background: #002847;
    padding: 10px 0px;
    border-bottom: 1px solid #004985;
  }
  .show-main-nav .main-header .main-nav {
    display: block;
  }
}
.main-header .main-nav li {
  display: block;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .main-header .main-nav li {
    display: inline-block;
    text-align: left;
    border-right: 1px solid #004985;
    float: left;
  }
}
.main-header .main-nav li a {
  font-size: 14px;
  line-height: 14px;
  padding: 15px;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.main-header .main-nav li a .count {
  display: inline-block;
  border-radius: 4px;
  background: #0065b8;
  padding: 2px 3px 3px 3px;
  text-align: center;
  margin-left: 5px;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.desktop .main-header .main-nav li:hover a {
  background: #004379;
}
.desktop .main-header .main-nav li:hover a .count {
  background: #0081eb;
}
.main-header a {
  color: #ffffff;
  display: inline-block;
}
@media screen and (max-width: 759px) {
  .main-header a {
    display: block;
  }
}

.carousel-module .carousel-item .carousel-header .overlay, .grid .items .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  background: -webkit-linear-gradient(top, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
}

.sidebar {
  width: 20%;
  float: left;
  padding: 30px 25px;
  font-size: 15px;
  line-height: 26px;
}
.sidebar .icon {
  color: #00569d;
  font-size: 20px;
  line-height: 20px;
}
.sidebar h3 {
  color: #00355f;
  font-weight: 700;
}
.sidebar a {
  color: #0065b8;
}
.sidebar li {
  position: relative;
}
.sidebar .has-children:before {
  content: "+";
  position: absolute;
  color: #0065b8;
  left: -10px;
  top: 0px;
}
.side-ready .sidebar .has-children .children {
  display: none;
}
.sidebar .has-children .children.show-children {
  display: block;
}
.dock-side .sidebar .side-nav {
  position: fixed;
  top: 78px;
  left: 25px;
}
@media screen and (min-width: 1200px) {
  .dock-side .sidebar .side-nav {
    left: 50%;
    margin-left: -575px;
  }
}

.main-content {
  float: left;
  width: 80%;
  padding: 30px 25px 30px 0px;
}

/* modules */
.search-module {
  padding: 25px 10px;
  background: #00355f;
}
@media screen and (min-width: 480px) {
  .search-module {
    text-align: center;
    padding: 35px 10px;
  }
  .search-module .search-inner {
    max-width: 480px;
    margin: 0 auto;
  }
}
.search-module h3 {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 15px;
  font-weight: 600;
  display: block;
}
@media screen and (min-width: 480px) {
  .search-module h3 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}

.hero-module {
  width: 100%;
  position: relative;
  height: 190px;
}
@media screen and (min-width: 760px) {
  .hero-module {
    height: 260px;
  }
}
.hero-module .bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #002847;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-module .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  mix-blend-mode: multiply;
}
.hero-module .text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: #ffffff;
}
.hero-module .text .text-inner {
  max-width: 550px;
  margin: 0 auto;
  padding: 65px 10px;
}
.hero-module .text .text-inner.has-search {
  padding: 30px 10px;
}
@media screen and (min-width: 760px) {
  .hero-module .text .text-inner {
    text-align: center;
    padding: 90px 20px;
  }
  .hero-module .text .text-inner.has-search {
    padding: 50px 20px;
  }
}
.hero-module .text .text-inner h2 {
  margin-bottom: 10px;
}
.hero-module .image-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
}
@media screen and (min-width: 760px) {
  .hero-module .image-caption {
    bottom: auto;
    left: auto;
    top: 10px;
    right: 10px;
  }
}
.hero-module .breadcrumbs-primary {
  margin-bottom: 10px;
}
.hero-module .breadcrumbs-primary li {
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  padding-left: 20px;
  position: relative;
}
.hero-module .breadcrumbs-primary li:before {
  content: "•";
  position: absolute;
  left: 6px;
  top: 0px;
  display: block;
}
.hero-module .breadcrumbs-primary li:first-of-type {
  padding-left: 0;
}
.hero-module .breadcrumbs-primary li:first-of-type:before {
  display: none;
}
.hero-module .breadcrumbs-primary a {
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.breadcrumbs-secondary {
  line-height: 13px;
}
.breadcrumbs-secondary li {
  color: #4d5559;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  padding-left: 10px;
  position: relative;
}
.breadcrumbs-secondary li:before {
  content: "•";
  position: absolute;
  left: 1px;
  top: 0px;
  display: block;
}
.breadcrumbs-secondary li:first-of-type {
  padding-left: 0;
}
.breadcrumbs-secondary li:first-of-type:before {
  display: none;
}
.breadcrumbs-secondary a {
  font-size: 13px;
  line-height: 13px;
  color: #4d5559;
}

.booking-module {
  background: #d8d8d8;
  padding: 20px 5px;
}
@media screen and (min-width: 760px) {
  .booking-module {
    padding: 30px 25px;
  }
}
.booking-module .items {
  margin: 0px;
}
@media screen and (min-width: 760px) {
  .booking-module .items {
    margin: 0px -10px;
  }
}
.booking-module .item {
  display: block;
  float: left;
  width: 50%;
  padding: 5px;
}
@media screen and (min-width: 760px) {
  .booking-module .item {
    width: 25%;
    padding: 10px;
  }
}
.booking-module .item .item-wrap {
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  background: #4c95bf;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.booking-module .item .item-wrap .icon {
  color: #ffffff;
  opacity: 0.6;
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 5px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
}
.booking-module .item .item-wrap .label {
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
}
.booking-module .item .item-wrap.grey {
  background: #4d5559;
}
.booking-module .item .item-wrap.green {
  background: #127362;
}
.booking-module .item .item-wrap.dark-blue {
  background: #2a4d85;
}
.booking-module .item .item-wrap.light-blue {
  background: #4c95bf;
}
.desktop .booking-module .item:hover .icon {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.desktop .booking-module .item:hover .grey {
  background: #596267;
}
.desktop .booking-module .item:hover .green {
  background: #158975;
}
.desktop .booking-module .item:hover .dark-blue {
  background: #305898;
}
.desktop .booking-module .item:hover .light-blue {
  background: #5fa0c6;
}

.booking-bar {
  background: #0065b8;
}
.booking-bar ul {
  display: table;
  width: 100%;
}
.booking-bar li {
  display: table-cell;
  text-align: center;
  width: 20%;
  color: #ffffff;
  border-right: 1px solid #00579f;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.booking-bar li.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  background: #00579f;
  display: none;
  cursor: default;
}
@media screen and (min-width: 760px) {
  .booking-bar li.title {
    display: table-cell;
  }
}
.booking-bar li a {
  color: #ffffff;
  padding: 16px;
  display: block;
}
.booking-bar li .icon {
  font-size: 20px;
  line-height: 20px;
}
@media screen and (min-width: 760px) {
  .booking-bar li .icon {
    font-size: 15px;
    line-height: 15px;
    padding-right: 8px;
  }
}
@media screen and (max-width: 759px) {
  .booking-bar li .label {
    display: none;
  }
}
.desktop .booking-bar li:hover:not(.title) {
  background: #0073d2;
}
.dock-bar .booking-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.buffer {
  display: none;
}
.dock-bar .buffer {
  display: block;
}

@media screen and (min-width: 760px) {
  .sitemap-module {
    padding: 40px 25px;
  }
}
.sitemap-module .module-title:after {
  content: "\f107";
  position: absolute;
  top: 13px;
  right: 15px;
  color: #0065b8;
  font-size: 26px;
  display: none;
}
@media screen and (max-width: 759px) {
  .sitemap-module .module-title {
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
    border-bottom: 1px solid #c7c7c7;
    display: block;
    color: #0065b8;
    margin-bottom: 0;
    padding: 20px 10px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
  }
  .sitemap-module .module-title:after {
    display: block;
  }
}
.desktop .sitemap-module .module-title:hover {
  color: #00355f;
}
@media screen and (min-width: 760px) {
  .sitemap-module .list-section:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
.sitemap-module ul {
  display: none;
}
@media screen and (min-width: 760px) {
  .sitemap-module ul {
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    display: block;
  }
}
.sitemap-module ul li {
  display: block;
}
@media screen and (min-width: 760px) {
  .sitemap-module ul li {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .sitemap-module .show ul {
    display: block;
    background: #fafafa;
    padding: 10px;
  }
  .sitemap-module .show ul li {
    padding: 5px 0px;
  }
  .sitemap-module .show .module-title:after {
    content: "\f106";
    top: 11px;
  }
}
.sitemap-module a {
  color: #0065b8;
  -webkit-transition: color .2s ease;
          transition: color .2s ease;
}
.desktop .sitemap-module a:hover {
  color: #00355f;
}

.socials-module {
  margin-bottom: 10px;
}
@media screen and (min-width: 760px) {
  .socials-module {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
  }
}
.socials-module a {
  display: block;
  width: 30px;
  height: 30px;
  background: #00355f;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.socials-module a:last-of-type {
  margin-right: 0;
}
.socials-module a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}
@media screen and (min-width: 760px) {
  .socials-module a {
    width: 25px;
    height: 25px;
  }
  .socials-module a .icon {
    font-size: 14px;
  }
}
.socials-module .social-facebook {
  background: #3b5998;
}
.socials-module .social-twitter {
  background: #00b0ed;
}
.socials-module .social-google {
  background: #dd4b39;
}
.socials-module .social-sharethis {
  background: #07bbad;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

@media screen and (min-width: 480px) {
  .owl-nav .owl-prev {
    position: absolute;
    top: -10px;
    left: 0;
  }
  .owl-nav .owl-prev span {
    left: -2px;
  }

  .owl-nav .owl-next {
    position: absolute;
    top: -10px;
    right: 0;
  }
  .owl-nav .owl-next span {
    left: 2px;
  }
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #ffffff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #7d898f;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-transition: background 200ms ease, opacity 200ms ease;
          transition: background 200ms ease, opacity 200ms ease;
}
.owl-theme .owl-nav [class*='owl-'] span {
  font-size: 30px;
  position: relative;
  top: 2px;
}

.owl-theme .owl-nav [class*='owl-']:not(.disabled):hover {
  background: #00569d;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  height: 45px;
  padding-top: 8px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #aacde1;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease, background 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .desktop .owl-theme .owl-dots .owl-dot:hover span {
  background: #00355f;
}

.carousel-module {
  background: #d8d8d8;
  padding: 20px 0px;
}
@media screen and (min-width: 760px) {
  .carousel-module {
    padding: 40px 25px;
  }
}
.page-content .carousel-module {
  background: transparent;
  padding: 0;
}
.carousel-module .owl-carousel {
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}
.carousel-module .carousel-item {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
}
.carousel-module .carousel-item .carousel-header {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #00355f;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.carousel-module .carousel-item .carousel-header .overlay {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.carousel-module .carousel-item .carousel-header h4 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #ffffff;
  z-index: 3;
  font-size: 16px;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.carousel-module .carousel-item .carousel-body {
  padding: 20px;
  color: #6b6b6b;
  font-size: 13px;
  line-height: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.carousel-module .carousel-item .carousel-body h3 {
  color: #0065b8;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}
.carousel-module .carousel-item .carousel-body strong {
  color: #0065b8;
}
.desktop .carousel-module .carousel-item:hover .carousel-body {
  background: #d1eaff;
}
@media screen and (max-width: 479px) {
  .carousel-module .module-title {
    padding-left: 10px;
  }
}

.inspiration-module {
  padding: 40px 25px;
}

/* content */
.entry-content {
  color: #4d5559;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  color: #002847;
}
.entry-content h1 {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 24px;
}
.entry-content p {
  margin-bottom: 24px;
}

.columns {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.columns p {
  display: inline-block;
}

.grid {
  position: relative;
}
.grid .inner {
  position: relative;
}
.grid .items {
  margin: 0px -5px;
}
@media screen and (min-width: 760px) {
  .grid .items {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    border-top: 1px solid #c7c7c7;
    margin: -1px 0px 0px 0px;
    padding: 10px;
  }
}
.grid .items .content-item {
  width: 100%;
  padding: 10px;
  clear: both;
  background: #ffffff;
}
@media screen and (max-width: 699px) {
  .grid .items .content-item {
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 700px) {
  .grid .items .content-item {
    width: 50%;
    float: left;
    clear: none;
  }
}
@media screen and (min-width: 980px) {
  .grid .items .content-item {
    width: 33.333%;
    padding: 20px 10px 10px 10px;
  }
}
.grid .items .item {
  width: 100%;
  padding: 5px;
  position: relative;
}
@media screen and (min-width: 980px) {
  .grid .items .item {
    padding: 10px;
  }
}
.grid .items .item .item-inner {
  position: relative;
  padding-top: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  padding-top: 56.25%;
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.grid .items .item.standard.split {
  width: 50%;
  float: left;
}
@media screen and (min-width: 980px) {
  .grid .items .item.standard.split {
    width: 33.333%;
  }
}
@media screen and (min-width: 700px) {
  .grid .items .item.standard {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 980px) {
  .grid .items .item.standard {
    width: 33.333%;
  }
}
@media screen and (min-width: 700px) {
  .grid .items .item.thin {
    width: 50%;
    float: left;
  }
  .grid .items .item.thin .item-inner {
    padding-top: 56.25%;
  }
}
@media screen and (min-width: 980px) {
  .grid .items .item.thin {
    width: 30%;
  }
  .grid .items .item.thin .item-inner {
    padding-top: 67.5%;
  }
}
@media screen and (min-width: 700px) {
  .grid .items .item.wide {
    width: 50%;
    float: left;
  }
  .grid .items .item.wide .item-inner {
    padding-top: 56.25%;
  }
}
@media screen and (min-width: 980px) {
  .grid .items .item.wide {
    width: 40%;
  }
  .grid .items .item.wide .item-inner {
    padding-top: 50%;
  }
}
@media screen and (min-width: 700px) {
  .grid .items .item.extra-wide {
    width: 50%;
    float: left;
  }
  .grid .items .item.extra-wide .item-inner {
    padding-top: 56.25%;
  }
}
@media screen and (min-width: 980px) {
  .grid .items .item.extra-wide {
    width: 50%;
  }
  .grid .items .item.extra-wide .item-inner {
    padding-top: 39.5%;
  }
}
.grid .items .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #2a4d85;
  background-repeat: none;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
}
.grid .items .item .underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 40, 71, 0);
  -webkit-transition: background .2s ease;
          transition: background .2s ease;
}
.grid .items .item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #ffffff;
  padding: 30px 20px 20px 20px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
}
.grid .items .item .text .category {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 3px 5px;
  background: #0065b8;
  text-transform: capitalize;
}
.grid .items .item .text .category.category-destination {
  background: #1cb170;
}
.grid .items .item .text .category.category-guide {
  background: #cf3f50;
}
.grid .items .item .text .category.category-top-5 {
  background: #ee7720;
}
.grid .items .item .text strong {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
}
.grid .items .item.text-only .underlay {
  background: rgba(0, 26, 46, 0.9);
}
.grid .items .item.text-only .text {
  top: 0;
  bottom: auto;
  font-weight: 600;
}
.desktop .grid .items .item:hover:not(.text-only) .text {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.desktop .grid .items .item:hover:not(.text-only) .underlay {
  background: rgba(0, 40, 71, 0.4);
}
.desktop .grid .items .item:hover:not(.text-only) .bg {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.grid.country-grid {
  padding: 30px 25px;
}
@media screen and (max-width: 699px) {
  .grid.country-grid .items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .grid.country-grid .items .item {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .grid.country-grid .items .item .item-inner {
    padding-top: 75%;
  }
  .grid.country-grid .items .content-item {
    -webkit-box-ordinal-group: 100;
    -webkit-order: 99;
        -ms-flex-order: 99;
            order: 99;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.grid.home-grid {
  padding: 30px 25px;
}
.grid.destination-grid {
  padding: 30px 0px;
}

.tab-nav {
  position: relative;
  z-index: 2;
}
.tab-nav .current-btn {
  background: #00355f;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  padding: 13px 15px;
  margin-bottom: 5px;
  position: relative;
}
@media screen and (min-width: 760px) {
  .tab-nav .current-btn {
    display: none;
  }
}
.tab-nav .current-btn:after {
  content: "\f107";
  position: absolute;
  top: 9px;
  right: 15px;
  color: #ffffff;
  font-size: 26px;
}
.tab-nav ul {
  display: none;
}
@media screen and (min-width: 760px) {
  .tab-nav ul {
    display: block;
  }
}
@media screen and (max-width: 759px) {
  .tab-nav.show ul {
    display: block;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  }
}
.tab-nav.show .current-btn:after {
  content: "\f106";
  top: 7px;
}
.tab-nav li {
  display: block;
  background: #ffffff;
}
@media screen and (min-width: 760px) {
  .tab-nav li {
    display: inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #c7c7c7;
    overflow: hidden;
    -webkit-transition: background .2s ease;
            transition: background .2s ease;
    float: left;
    margin-right: 4px;
  }
}
.tab-nav li a {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  color: #0065b8;
  font-weight: 600;
  display: block;
  -webkit-transition: color .2s ease;
          transition: color .2s ease;
}
.tab-nav li.active a {
  color: #00355f;
}
@media screen and (min-width: 760px) {
  .tab-nav li.active {
    background: #00355f;
    border-color: #00355f;
  }
  .tab-nav li.active a {
    color: #ffffff;
  }
}
@media screen and (min-width: 760px) {
  .desktop .tab-nav li:hover {
    background: #f2f2f2;
  }
  .desktop .tab-nav li:hover a {
    color: #00569d;
  }
  .desktop .tab-nav li:hover.active {
    background: #002746;
  }
  .desktop .tab-nav li:hover.active a {
    color: #ffffff;
  }
}

.content-header {
  position: relative;
  padding: 0px 0px 25px 0px;
}
.content-header .socials {
  top: 20px;
}
