doctype
html.no-js
	head
		include ./partials/head.jade
	body.home
		header.global-header#global-header
			include ./external/header.html
		include ./modules/header.jade
		
		- var page = 'author'
		- var page_title = 'Clara et Constance'
		- var breadcrumbs = [{"title":"Guides de Voyage"},{"title":"Contributeurs"}]
		include ./modules/hero.jade
		
		include ./modules/booking-bar.jade
		
		section.page-content
			div.inner.group
				include ./partials/sidebar.jade
				div.main-content.entry-content.has-sidebar
					div.content-header
						- var social_class = 'float'
						include ./modules/socials.jade
						include ./modules/breadcrumbs.jade
					
					h1 Clara et Constance
					div.author-intro.group
						
						div.author-image
							figure.author-image-inner(style="background-image:url(images/author1.jpg)")
						div.author-bio
							p Berlin has an unusual history. The city torn by two world wars , the center of Nazi power and then divided for 30 years, now bears the marks with humility of his past. Prepare for an intense visit to emotions, places of memory of the Holocaust to the remains of the famous wall
							div.socials-module
								strong Clara
								div.group.socials-list
									a.social.js-social.social-twitter(href="#", target="_blank")
										span.icon.icon-twitter
									a.social.js-social.social-google(href="#", target="_blank")
										span.icon.icon-google-plus
									a.social.js-social.social-facebook(href="#", target="_blank")
										span.icon.icon-facebook
									a.social.js-social.social-tumblr(href="#", target="_blank")
										span.icon.icon-tumblr
									a.social.js-social.social-pinterest(href="#", target="_blank")
										span.icon.icon-pinterest
									a.social.js-social.social-youtube(href="#", target="_blank")
										span.icon.icon-youtube
							
							div.socials-module
								strong Constance
								div.group.socials-list
									a.social.js-social.social-twitter(href="#", target="_blank")
										span.icon.icon-twitter
									a.social.js-social.social-google(href="#", target="_blank")
										span.icon.icon-google-plus
									a.social.js-social.social-facebook(href="#", target="_blank")
										span.icon.icon-facebook
									a.social.js-social.social-tumblr(href="#", target="_blank")
										span.icon.icon-tumblr
									a.social.js-social.social-pinterest(href="#", target="_blank")
										span.icon.icon-pinterest
									a.social.js-social.social-youtube(href="#", target="_blank")
										span.icon.icon-youtube
								
								
	
					hr.separator
					
					- var carousel_type = 'standard'
					- var carousel_class = 'in-content'
					- var carousel_title = 'Les Tops 5 de Clara et Constance'
					- var carousel_items = carousel_top5
					include ./modules/carousel.jade
					
					hr.separator
					
					div.columns
						h2 Quatre questions à Clara et Constance
						
						h4 Quel est ton voyage préféré ?
						
						p <strong>Constance:</strong><br />La Crète au mois de septembre. J’ai adoré le contraste entre les falaises abruptes et arides de la cote sud, les vallées fertiles du centre, et les plages du Nord. Quand on s’enfonce dans les terres on découvre des petits villages tranquilles, hors du temps, où les habitants se retrouvent autour du figuier sur la place centrale. Visiter les sites minoens presque déserts est aussi une expérience unique. La vie semble passer au ralenti et nous laisser le temps de découvrir plein de merveilles.

						p <strong>Clara:</strong><br />Lisbonne au mois d’avril. Un voyage plein de soleil, et de couleurs. Nous avons visité la ville en long, en large et en travers, et avons mangé d’excellents poissons grillés et de délicieuses pâtisseries. Mes coups de cœur : les belles rencontres que nous avons faites, les azulejos colorés qui recouvrent les immeubles, et les jardins botaniques luxuriants de Lisbonne et de Belém, qui sont de vraies invitations au voyage.
							
						h4 Quel est ton meilleur souvenir de voyage ?
						
						p <strong>Constance:</strong><br />Un des paysages qui m’a le plus marquée est la vue que l’on découvre à la fin de la randonnée entre El Chalten et la Laguna de los Tres, dans les Andes en Argentine. Même épuisée et en ayant mal aux jambes, j’ai été happée par ce paysage de montagnes, de glaciers et de lacs, venu du fond des âges. On ne serait pas surpris de voir passer un troupeau de diplodocus dans vallée en contrebas !
							
						p <strong>Clara:</strong><br />En septembre 2007, je suis partie en Suède avec mon sac à dos. Nous voyagions en stop et dormions au hasard des villages, dans de jolies maisons rouges. Le but du voyage : visiter la maison du peintre Carl Larrson, dans le petit village de Sundborn. Pour les derniers kilomètres, la dame qui nous a pris en stop était la petite fille du peintre !

					
					hr.separator
					
					- var social_title = 'Partagez cette destination'
					- social_class = ''
					include ./modules/socials.jade

		include ./partials/footer.jade