doctype
html.no-js
	head
		include ./partials/head.jade
	body.home
		header.global-header#global-header
			include ./external/header.html
		include ./modules/header.jade
		
		- var page = 'country'
		- var page_title = 'France'
		- var breadcrumbs = [{"title":"Guides de Voyage"}]
		include ./modules/hero.jade
		
		include ./modules/booking-bar.jade
		
		include ./modules/country-grid.jade
		
		- var carousel = 'guides'
		- var carousel_title = 'Guides récents'
		- var carousel_items = carousel_guides
		include ./modules/carousel.jade
		
		include ./partials/footer.jade