doctype
html.no-js
	head
		include ./partials/head.jade
	body.home
		header.global-header#global-header
			- //include ./external/header.html
		include ./modules/header.jade
		
		- var page = 'destination'
		- var page_title = 'Berlin'
		- var breadcrumbs = [{"title":"Guides de Voyage"},{"title":"Germany"}]
		include ./modules/hero.jade
		
		include ./modules/booking-bar.jade
		
		section.page-content
			div.inner.group
				include ./partials/sidebar.jade
				div.main-content
					div.content-header
						include ./modules/breadcrumbs.jade
						include ./modules/socials.jade
					h2 Que faire à Berlin?
					include ./modules/destination-grid.jade
					include ./modules/column-content.jade
					
					- var carousel = 'guides-content'
					- var carousel_title = 'Guides récents'
					- var carousel_items = carousel_guides
					include ./modules/carousel.jade		
		
		- carousel = 'guides'
		- carousel_title = 'Guides récents a travers le monde'
		- carousel_items = carousel_guides
		include ./modules/carousel.jade
		
		include ./modules/inspiration.jade
		
		include ./partials/footer.jade