doctype
html.no-js
	head
		include ./partials/head.jade
	body.home
		header.global-header#global-header
			include ./external/header.html
		include ./modules/header.jade
		
		include ./modules/hero.jade
		
		include ./modules/booking-bar.jade
		
		include ./modules/tabbed-grid.jade
		
		include ./partials/footer.jade