doctype
html.no-js
	head
		include ./partials/head.jade
	body.home
		header.global-header#global-header
			- //include ./external/header.html
		include ./modules/header.jade
		
		- var page = 'top-5'
		- var page_title = 'Paris • Infos pratiques'
		- var region = 'Paris'
		- var breadcrumbs = [{"title":"Guides de Voyage"},{"title":"France"}]
		include ./modules/hero.jade
		
		include ./modules/booking-bar.jade
		
		section.page-content
			div.inner.group
				include ./partials/sidebar.jade
				div.main-content.entry-content
					div.content-header
						- var social_class = 'float'
						include ./modules/socials.jade
						include ./modules/breadcrumbs.jade
					
					div.intro-text
						h1 Guide pratique de Paris
						
					div.box-item-wrap			
							div.box-item.no-hover
								div.box-text-header
									h4
										span.icon.icon-location-pin
										span Focus on national holiday
								div.box-body.entry-content.large-type.no-footer.group
									div.with-sale-box
										p Bus: <br />Roissybus vers et de Opéra (rue Scribe, métro Opéra, RER Auber)<br /><strong>Fréquence:</strong> toutes les 15 à 20 min (de 6 h à 23 h)<br /><strong>Temps de trajet:</strong> 50 à 60 min<br /><strong>Prix:</strong> environ 8 €*
	
										p Bus 350 or 351 to and from the station's square or the nation (metro Gare de l'Est, Metro Nation)<br /><strong>Fréquence:</strong> every 20 to 30 minutes<br /><strong>Temps de trajet:</strong> 60-80 min<br /><strong>Prix:</strong> about 4 € *
									
									div.sale-box
										strong Hotel suggestion
										div.box-item(href="#").no-hover
											div.box-header
												div.bg(style="background-image:url(images/test12.jpg)")
												div.overlay
												div.underlay										
											div.box-body.no-footer
													div.sell-header.group
														h3 Andel’s Hotel Paris
														div.sell-price
															span.currency €
															span.price 113
															span.sale.small-text €125
														div.rating.group.rating-3.half
															span.star.star-1
															span.star.star-2
															span.star.star-3
															span.star.star-4
															span.star.star-5
														br
														a(href="#").btn-primary.btn Book now
										

					hr.separator

					- var recommendation_title = 'Hotel Recommendation'
					- var recommendation_item = hotel_recommendation
					include ./modules/recommendation.jade
					
					hr.separator
					
					r.separator
					
					- var carousel_type = 'standard'
					- var carousel_class = 'in-content'
					- var carousel_title = 'Plus Top 5 à Paris'
					- var carousel_items = carousel_top5_paris
					include ./modules/carousel.jade
					
					hr.separator
					
					- carousel_type = 'sell'
					- carousel_class = 'in-content'
					- carousel_title = 'Meilleures offres d\'hôtels'
					- carousel_items = carousel_hotels
					include ./modules/carousel.jade
					
					hr.separator
					- var social_title = 'Partagez cette destination'
					- social_class = ''
					include ./modules/socials.jade

		include ./partials/footer.jade