nav.booking-bar
	ul
		li.title 
			span Réservez un voyage:
		li
			a(href='#')
				span.icon.icon-office
				span.label Hôtels
		li
			a(href='#')
				span.icon.icon-airplane
				span.label Vols
		li
			a(href='#')
				span.icon.icon-suitcase
				span.label Vols + Hôtels
		li
			a(href='#')
				span.icon.icon-automobile
				span.label Voiture