section.booking-module
	div.inner
		h4.module-title Réservez vos vacances
		div.group.items
			a.item(href='#')
				span.item-wrap.green
					span.icon.icon-office
					span.label Hôtels
			a.item(href='#')
				span.item-wrap.dark-blue
					span.icon.icon-airplane
					span.label Vols
			a.item(href='#')
				span.item-wrap.light-blue
					span.icon.icon-suitcase
					span.label Vols + Hôtels
			a.item(href='#')
				span.item-wrap.grey
					span.icon.icon-automobile
					span.label Voiture
				