header.main-header
	div.inner.group
		nav.top-nav
			ul.group
				li.home-link
					a(href='/')
						span.icon.icon-earth
						span Découvertes Expedia
				li.menu-link
					a.js-toggle-main-nav(href='#') Menu
		nav.main-nav
			ul.group
				li
					a(href='#') Themed Guides
						span.count 158
				li
					a(href='#') Destinations
						span.count 40
				li
					a(href='#') Contributeurs
						span.count 18
				li
					a(href='#') Top 5
						span.count 21