section.hero-module
	div.bg(style='background-image:url(images/hero-placeholder.jpg)')
	div.overlay
	div.text
		div.text-inner
			h1 Trouvez l'inspiration
			h2 pour votre prochaine aventure
			include ./search-form.jade
		div.image-caption
			span Photo par Amphithoe sous licence CC BY-ND 2.0