section.gallery-module
	div.flexslider.image-gallery
		ul.slides
			li
				figure
					img(src="images/test2.jpg")
					figcaption Testing
			li
				figure
					img(src="images/test3.jpg")
					figcaption Testing
			li
				figure
					img(src="images/test4.jpg")
					figcaption Testing

	div.flexslider.image-gallery-thumbs
		ul.slides
			li
				div.thumb(style="background-image:url(images/test2.jpg)")
			li
				div.thumb(style="background-image:url(images/test3.jpg)")
			li
				div.thumb(style="background-image:url(images/test4.jpg)")