form.form
	div.field-wrap.group
		span.icon-search.input-icon
		input(type='search', placeholder='Recherche par ville ou le thème')
		button.btn.btn-primary(type='submit') 
			span.label Resercher
			span.icon-search.icon