form.form.search-form
	div.field-wrap.group
		div.input-group
			span.icon-search.input-icon
			input(type='search', placeholder='Recherche par ville ou le thème')
		button.btn.btn-primary(type='submit') 
			span.btn-label Rechercher
			span.icon-search.icon