div.socials-module.group

	a.social.js-social(href="https://www.facebook.com/sharer/sharer.php?u=#{site_url}", target="_blank")
			span.icon.icon-facebook

	a.social.js-social(href="https://twitter.com/intent/tweet?text=&url=#{site_url}", target="_blank")
			span.icon.icon-twitter

	a.social.js-social(href="https://plus.google.com/share?url=#{site_url}", target="_blank")
			span.icon.icon-google-plus