include ../modules/search.jade

include ../modules/booking.jade

include ../modules/sitemap.jade

footer.global-footer#global-footer
	include ../external/footer.html
	
script(src='js/plugins.js')
script(src='js/init.js')
if env == 'dev'
	script(src='//localhost:35729/livereload.js')