aside.sidebar
	
	nav.side-nav
	
		a(href="./").icon.icon-earth
		h3 #{region}
		
		ul
			li.has-children
				a(href='#') Thèmes
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
			li.has-children
				a(href='#') Saisons
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
					li
						a(href='#') Item 4
					li
						a(href='#') Item 5
					li
						a(href='#') Item 6
			li.has-children
				a(href='#') Top 5
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
					li
						a(href='#') Item 4
			li
				a(href='#') Infos pratiques
			li
				a(href='#') Photo gallery