aside.sidebar
	span.icon.icon-earth
	h3 #{page_title}
	
	nav.side-nav
		ul
			li.has-children
				a(href='#') Thèmes
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
			li.has-children
				a(href='#') Saisons
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
			li.has-children
				a(href='#') Top 5
				ul.children
					li
						a(href='#') Item 1
					li
						a(href='#') Item 2
					li
						a(href='#') Item 3
			li
				a(href='#') Infos pratiques
			li
				a(href='#') Photo gallery